.simple {
  background-color: tomato;
  margin: 20px;
  padding: 10px;
  /* border: dotted 10px; */
  border-radius: 10px 10px;
  box-shadow: 10px 10px 10px;
  text-align: justify;
  border-left: dotted 10px;
}
